
@using WSS.CustomerApplication.Properties
<section id="activate-account" class="col-sm-9">
    
        <div class="row">
            <h3>@Resources.AccountActivationView_Expired_Account_Registration</h3>

            <p>@Resources.AccountActivationView_Expired_We_are_sorry_but_your_account_activation_link_has_expired </p>
            <p>@Resources.AccountActivationView_Expired_You_may_request_an_activation_link_again_To_do_so_please_click <a href="@Url.Action("Index", "ResendActivation")">@Resources.AccountActivationView_Expired_here</a></p>


        </div>

</section>