@using WSS.CustomerApplication.Properties
<div style="padding: 20px 20px;">
    <div class="pull-right"><i class="fa fa-1x fa-close" onclick="$('#terms_and_conditions').toggle(); return false;"></i></div>
    <div class="clearfix"></div>
    <h3>@Resources.AccountActivationView_TermsAndConditions_City_of_Winnipeg_Water_and_Waste_Web_Self_Service_Terms_and_Conditions_of_Use</h3>

    <p>
        @Resources.AccountActivationView_TermsAndConditions_Welcome_to_Web_Self_Service_the_City_of_Winnipeg_Water_and_Waste_Departments_customer_self_service_website_This_website_is_owned_and_operated_by_the_City_of_Winnipeg_Winnipeg
    </p>

    <h4>@Resources.AccountActivationView_TermsAndConditions_1_AGREEMENT</h4>

    <p>@Resources.AccountActivationView_TermsAndConditions_accept_and_comply_ith_these_terms_and_conditions_of_use_the_terms_and_conditions</p>



    <h4>@Resources.AccountActivationView_TermsAndConditions_2_REGISTRATION</h4>

    <p>
        @Resources.AccountActivationView_TermsAndConditions__Access_to_this_website_and_use_of_certain_services_requires_registration_You_must_be_an_existing_City_of_Winnipeg_Water_and_Waste_Department_customer_to_register
    </p>
    <p>@Resources.AccountActivationView_TermsAndConditions_By_registering_for_Web_Self_Service_you_acknowledge_and_agree_that_you_will_no_longer_receive_via_postal_mail_or_via_Canada_Posts_ePost_service_any_further_bills</p>
    <p>
        @Resources.AccountActivationView_TermsAndConditions_You_will_be_solely_responsible_to_maintain_the_confidentiality_of_any_personal_identifiers_or_passwords_required_by_you_to_access_this_website
    </p>


    <h4>@Resources.AccountActivationView_TermsAndConditions_3_PRIVACY_AND_SECURITY</h4>

    <p>
        @Resources.AccountActivationView_TermsAndConditions_For_information_regarding_how_the_City_of_Winnipeg_manages_the_privacy_and_security_of_your_information (http://www.winnipeg.ca/clerks/fippa/default.stm)@Resources.AccountActivationView_TermsAndConditions__which_outlines_City_of_Winnipeg_privacy_practices_that_are_incorporated_into_and_form_part_of_these_terms_and_conditions

    </p>




    <h4>@Resources.AccountActivationView_TermsAndConditions_4_DISCLAIMER</h4>

    <p>
       @Resources.AccountActivationView_TermsAndConditions_The_website_the_services_and_any_content_are_provided_solely_on_and_as_is_and_as_available_basis_Reasonable_efforts_have_been_made_to_ensure_the_content
    </p>




    <h4> @Resources.AccountActivationView_TermsAndConditions_5_LIMITATION_OF_LIABILITY</h4>

    <p>

        @Resources.AccountActivationView_TermsAndConditions_You_agree_that_the_City_of_Winnipeg_its_affiliates_and_its_subsidiaries_and_their_respective_officers_directors

    </p>



    <h4>@Resources.AccountActivationView_TermsAndConditions_6_INDEMNITY</h4>

    <p>
        @Resources.AccountActivationView_TermsAndConditions_You_agree_to_defend_indemnify_and_hold_harmless_the_City_of_Winnipeg_its_affiliates_and_its_subsidiaries_and_their_respective_officers

    </p>







    <h4>@Resources.AccountActivationView_TermsAndConditions_7_CONFIDENTIALITY_WARNING</h4>

    <p>

        @Resources.AccountActivationView_TermsAndConditions_Absent_the_use_of_encryption_the_Internet_is_not_a_secure_medium_and_privacy_cannot_be_ensured_Internet_email_is_vulnerable_to_interception_and_forging

    </p>






    <h4>@Resources.AccountActivationView_TermsAndConditions_8_OWNERSHIP_AND_INTELLECTUAL_PROPERTY</h4>

    <p>

        @Resources.AccountActivationView_TermsAndConditions_This_website_the_services_and_all_contents_thereof_including_but_not_limited_to_all_text_images_data_html_code_multimedia_clips

    </p>





    <h4>@Resources.AccountActivationView_TermsAndConditions_9_TRADEMARKS</h4>
    <p>
       @Resources.AccountActivationView_TermsAndConditions_Certain_words_phrases_names_designs_or_logos_used_on_the_website_may_constitute_trademarks_service_marks_or_trade_names_of_the_City_of_Winnipeg http://www.winnipeg.ca/interhom/conditions_of_use/

    </p>





    <h4>@Resources.AccountActivationView_TermsAndConditions_10_LIMITED_LICENSE</h4>
    <p>
        @Resources.AccountActivationView_TermsAndConditions_This_website_and_the_services_are_provided_for_your_informational_non_commercial_and_personal_use_only_as_authorized_under_these_terms_and_conditions
    </p>






    <h4>@Resources.AccountActivationView_TermsAndConditions_11_RULES_OF_USE</h4>
    <p>
        @Resources.AccountActivationView_TermsAndConditions_You_agree_that_in_accessing_or_using_the_website_or_any_services_or_submitting_any_information_or_materials_to_the_City_of_Winnipeg_you_shall

    </p>





    <h4>@Resources.AccountActivationView_TermsAndConditions_12_THIRD_PARTY_CONTENT </h4>
    <p>
        @Resources.AccountActivationView_TermsAndConditions_As_a_convenience_to_you_this_website_may_contain_links_to_other_internet_sites_that_are_operated_by_other_parties_that_are_not_under_the_control
    </p>




    <h4>@Resources.AccountActivationView_TermsAndConditions_13_MODIFICATIONS_AND_TERMINATION </h4>
    <p>
        @Resources.AccountActivationView_TermsAndConditions_The_City_of_Winnipeg_reserves_the_right_to_suspend_discontinue_terminate_or_modify_any_aspect_of_the_website_services_or_content
    </p>




    <h4>@Resources.AccountActivationView_TermsAndConditions_14_GENERAL</h4>
    <p>
        @Resources.AccountActivationView_TermsAndConditions_These_terms_and_conditions_these_terms_and_conditions_form_the_entire_agreement_between_you_and_the_City_of_Winnipeg_with_respect_to_your_use_of_this_website
    </p>




    <div class="pull-right"><i class="fa fa-1x fa-close" onclick="$('#terms_and_conditions').toggle(); return false;"></i></div>
</div>