@using WSS.CustomerApplication.Properties
<h3>@Resources.AccountView_questions_Opening_or_closing_an_account</h3>

<div class="panel-group" id="QuestionsGroup">


    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#QuestionsGroup" href="#answer1">
                    @Resources.AccountView_questions_Moving_within_the_Province
                </a>
            </h3>
        </div>

        <div id="answer1" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    @Resources.AccountView_questions_If_you_are_moving_within_the_Province_you_can_give_us_your_new_address <a href="http://www.manitobaaddresschange.ca" title="@Resources.AccountView_questions_Link_to_Manitoba_Address_Change_page" target="_blank">www.manitobaaddresschange.ca</a>@Resources.AccountView_questions_provides_a_simple_way_to_notify_multiple_organizations_of_your_change_of_address
                    <ul>
                        <li>@Resources.AccountView_questions_The_City_of_Winnipeg_Water_and_Waste_Department</li>
                        <li>@Resources.AccountView_questions_Manitoba_Hydro</li>
                        <li>@Resources.AccountView_questions_Shaw</li>
                        <li>@Resources.AccountView_questions_Manitoba_Health</li>
                    </ul>
                </p>
                <p align="center"><a href="http://www.manitobaaddresschange.ca" target="_blank" title="@Resources.AccountView_questions_Link_to_Manitoba_Address_Change_page"><img src="~/Content/Images/mac.jpg" border="0" alt="Manitoba Address Change logo" /></a></p>
            </div>
        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#QuestionsGroup" href="#answer2">
                    @Resources.AccountView_questions_Moving_in
                </a>
            </h3>
        </div>

        <div id="answer2" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    @Resources.AccountView_questions_If_youre_moving_in_and_are_financially_responsible_for_water_at_your_new_address_you_need_to_open_an_account
                    <a href="http://winnipeg.ca/waterandwaste/dept/contactus.stm#billing" title="@Resources.AccountView_questions_Link_to_Winnipeg_City_Water_And_Waste_department_contact_page" target="_blank">@Resources.AccountView_questions_Contact_us</a> @Resources.AccountView_questions_provides_a_simple_way_to_notify_multiple_organizations_of_your_change_of_address_Save_time
                    <ul>
                        <li>@Resources.AccountView_questions_provide_us_with_your_initial<a href="http://winnipeg.ca/waterandwaste/billing/meterReading.stm" title="@Resources.AccountView_questions_Link_to_a_watermeter_reading_tips_page" target="_blank">@Resources.AccountView_questions_meter_reading</a></li>
                        <li>
                            @Resources.AccountView_questions_establish_yourself_as_the_new_account_holder_We_will_require
                            <ul>
                                <li>@Resources.AccountView_questions_your_name</li>
                                <li>@Resources.AccountView_questions_names_of_anyone_financially_responsible_for_the_water_bill</li>
                                <li>@Resources.AccountView_questions_service_address</li>
                                <li>@Resources.AccountView_questions_date_of_possession</li>
                                <li>@Resources.AccountView_questions_mailing_address_if_different_than_account_address</li>
                                <li>@Resources.AccountView_questions_phone_numbers</li>
                                <li>@Resources.AccountView_questions_your_landlords_name_mailing_address_and_phone_number_if_you_are_a_tenant</li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>




    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#QuestionsGroup" href="#answer3">
                    @Resources.AccountView_questions_Moving_out
                </a>
            </h3>
        </div>

        <div id="answer3" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    @Resources.AccountView_questions_If_youre_moving_out_and_need_to_close_an_account_phone_in_your_final
                    <a href="http://winnipeg.ca/waterandwaste/billing/meterReading.stm" title="@Resources.AccountView_questions_Link_to_a_watermeter_reading_tips_page" target="_blank">@Resources.AccountView_questions_meter_reading</a> @Resources.AccountView_questions_to_204_986_3212_our_24_hour_moving_in_moving_out_automated_water_meter_reading_system

                    <ul>
                        <li>@Resources.AccountView_questions_the_address_where_the_meter_reading_was_taken</li>
                        <li>@Resources.AccountView_questions_the_water_meter_reading</li>
                        <li>@Resources.AccountView_questions_the_data_the_meter_reading_was_taken</li>
                        <li>@Resources.AccountView_questions_your_full_name_mailing_address_and_telephone_number</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#QuestionsGroup" href="#answer101">
                    @Resources.AccountView_questions_Will_my_username_change_if_I_change_my_email
                </a>
            </h3>
        </div>

        <div id="answer101" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Text  needed
                </p>
            </div>
        </div>

    </div>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#QuestionsGroup" href="#answer102">
                    @Resources.AccountView_questions_If_I_unsubscribe_will_my_bills_be_mailed_to_me_again
                </a>
            </h3>
        </div>

        <div id="answer102" class="panel-collapse collapse">
            <div class="panel-body">
                <p>Text  needed</p>
            </div>
        </div>

    </div>



    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <a data-toggle="collapse" data-parent="#QuestionsGroup" href="#answer103">
                    @Resources.AccountView_questions_After_I_unsubscribed_can_I_come_back_and_subscribe_again
                </a>
            </h3>
        </div>

        <div id="answer103" class="panel-collapse collapse">
            <div class="panel-body">
                <p>
                    Text  needed
                </p>
            </div>
        </div>

    </div>
</div>

<br />
@Resources.AccountView_questions_Still_looking_for_an_answer_Call_204_555_555_to_talk_to_our_representative