@using WSS.CustomerApplication.Properties
<br/>
<h3>@Resources.AccountView_Thankyou_You_successfuly_unsubscribed_from_Web_Self_Serve</h3>


<p>
    @Resources.AccountView_Thankyou_Thank_you_for_using_Web_Self_Serve_If_you_ever_decide_to_subscribe_again
    <br/>
     <a href="@Url.Action("Index", "Registration")">@Resources.AccountView_Thankyou_Registration_page</a>
    <br/>

    <br/>
    <br/>
    <br/>
    <br />Need more text here
    <a html="http://winnipeg.ca" title="winnipeg.ca home page">@Resources.AccountView_Thankyou_Winnipeg_ca</a>
</p>